@import "tailwindcss";

@theme {
  /* Mendaftarkan Palet Warna Custom Kamu di sini */
  --color-primary: #84994F;
  --color-secondary: #FFE797;
  --color-accent: #FCB53B;
  --color-danger: #A72703;
  
  /* Warna Netral Tambahan */
  --color-dark: #2D3748;
  --color-light: #F7FAFC;
}

/* Mengatur default body agar menggunakan warna kita */
body {
  background-color: var(--color-light); 
  color: var(--color-dark);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary); 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7c40; 
}